{
 :up
 [
  "INSERT
    INTO users (fname, lname, email, encrypted_password)
    VALUES (
      'Michael',
      'Ruggiero',
      'mjamesruggiero@gmail.com',
      '$2a$10$mDUBI0R1zoEHbm5hnABkpeC6Wr3BqZH06y0wNDA855Mjkd9jwunNi');"
  ]
 :down [ "DELETE FROM users WHERE email = 'mjamesruggiero@gmail.com';" ]
}
